<div class="header-inner">
	<a href="#" class="c-logo"></a>
	<!-- ./c-logo -->

	<ul class="c-nav">
		<li class="c-nav__item c-nav__item--active" data-page-name="home">Home</li>
		<li class="c-nav__item" data-page-name="about">About</li>
	</ul>
	<!-- ./c-nav -->
</div>
<!-- /.header-inner -->
